h1 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

.aside {
	background: #F4F4F4;
	ul {
		list-style: none;
		padding-left: 0;
		li {
			a {
				color: #333;
				display: block;
				padding: 10px 0px 10px 10px;;
				&:hover {
					text-decoration: none;
					background: #FAFAFA;
				}
			}
		}
	}
}

@import 'components/Speakers.scss';
@import 'components/EqualHeight.scss';
@import 'components/Overwrite.scss';